<%= javascript_include_tag "home" %>
<%= stylesheet_link_tag "home" %>

<div class="container">
    <div id="hero-select-container">
        <div>Select a hero</div>
        <select id="hero_select">
            <option selected></option>
            <%= options_from_collection_for_select(@heroes, :id, :name) %>
        </select>
    </div>
</div>